<h8>Buscador Dispotisitos IOT vulnerables y goles por ciudad</h8>
<div ng-controller="FootballIntegration5Ctrl">
    
    
    <style>
        
    
    
    #chartdiv {
    float:left;
  width: 100%;
  height: 500px;
}

</style>
<body>
 <tr>
     
   

 <td><input class="form-control" style="text-align:center" ng-model="datobusqueda" placeholder="Escribe una Ciudad"></td>
<button class="btn-floating waves-effect waves-light blue btn-sm" data-toggle="modal" ng-click="buscarCiudad()">
                    <i class="material-icons">search</i></button>
   </tr>  
   
   <tr>
<div id="chartdiv"></div>
</tr>

</body>




</<div>
