<div ng-controller="BaseballGraph1Ctrl">

 <div id="button-search-grpah1" class="section">
  
  <div style="float:left">
      <h3>Hits</h3>
      
  </div>
  
   <div >
   <button type="button" style="margin-left: 10px; float:right" class="btn-floating btn-large blue" ng-click="searchGraph1()" id="searchButtonGraph1"><i class="material-icons">search</i>
   </button>
  </div>
  <div style="float:right"  ><input class="form-control" ng-model="searchGraph1.date" style="margin-top: 10px"></div>
 
 </div>

 <div id="container"></div>

</div>
