<div ng-controller="BaseballGraph2Ctrl">
    
    
 <div id="button-search-grpah2" class="section">
  <div style="float:left">
      <h3>Hits</h3>
      
  </div>
   <div >
   <button type="button" style="margin-left: 10px; float:right" class="btn-floating btn-large blue" ng-click="searchGraph2()" id="searchButtonGraph2"><i class="material-icons">search</i>
   </button>
  </div>
  <div style="float:right"  ><input class="form-control" ng-model="searchGraph2.date" style="margin-top: 10px"></div>
 
 </div>
       <div id="chart_div" style="margin-top:60px;width: 900px; height: 500px;"></div>
   
</div>