<style>
.highcharts-yaxis-grid .highcharts-grid-line {
	display: none;
}
</style>
 <div ng-controller="integrationGraph2Ctrl">


  <div style="float:left">
   <h2>Integration Graph</h2>
  </div>
  
      <div id="input_button" class="section" style="width:700px; position:relative;">
        <div style="float:left; width:500px">
            <form ng-submit="submit()">
                Submit a province :
                <input style="float:left;" type="text" ng-model="province" name="province" />
            </form>
             <form ng-submit="submit()">
                Submit a stadium :
                <input style="float:left;" type="text" ng-model="stadium" name="stadium" />
            </form>
        </div>
         <div style="float:left;margin-left:30px; margin-top:20px">
            <button type="button" class="btn-floating btn-large blue" ng-click="submit()" id="submit">
              <i class="large material-icons">search</i>
            </button>
        </div>
    </div>

 

<div class="section" style="width: 1200px; height: 800px; margin-top: 30px;float:left">
    <div id="container-speed" style="width: 500px; height: 400px; float: left"></div>
    <div id="container-rpm" style="width: 500px; height: 400px; float: left"></div>
</div>




</div>
