
 <div ng-controller="integrationGraph2Ctrl">

 <div id="button-search-grpah1" class="section" style="margin-bottom:70px" >

  <div style="float:left">
   <h2>Integration Graph</h2>
  </div>
  
  
  <div>
   <button type="button" style="margin-left: 10px; float:right" class="btn-floating btn-large blue" ng-click="searchGraph1()" id="searchButtonGraph1"><i class="material-icons">search</i>
   </button>
  </div>

  <div style="float:right"><input class="form-control" ng-model="inputIntegGraph1.date" style="margin-top: 10px">
   <h11 style="color:grey">Introduce una fecha o pulsa buscar</h11>
  </div>

 </div>
 
 
<div class="section" style="margin-top: 40px">
<div id="cors"></div>
</div>
